.order-section {
  display: flex; flex-direction: column; row-gap: 20px; width: 800px;
}
.each-order {
  display: flex; align-items: center; border: 1px solid #dd5738; border-radius: 120px; overflow: hidden;
}
.order-image {
  width: 170px;
}
.order-image img {
  width: 100%; height: 170px; object-fit: cover; object-position: center;
}
.order-info {
  display: flex; flex-direction: column; margin-left: 50px; row-gap: 5px;
}
.order-name {
  font-size: 40px; font-weight: 600; margin: 0; margin-bottom: 10px;
}
.Price {
  font-size: 20px; margin: 0; font-weight: 600;
}
.quantity-updater {
  display: flex; align-items: center; column-gap: 30px; margin-top: 10px;
}
.orderQuantity {
  font-size: 20px; font-weight: 600;
}
.input {
  width: 60px; padding: 8px; text-align: center; border: none; outline: none; border-radius: 30px; margin-right: -15px;
}
.cancel {
  margin-left: 10px; color: white; border: 1px solid white; 
}
.update {
  color: yellow; border: 1px solid yellow;
}
.save {
  color: green; border: 1px solid green;
}
.delete {
  color: red; border: 1px solid red; margin-left: 10px;
}
.delete,
.cancel,
.update,
.save {
  padding: 8px 15px; cursor: pointer; border-radius: 30px; background-color: transparent;
}
.delete:hover {
  background-color: red; color: white;
}
.cancel:hover {
  background-color: white; color: black;
}
.update:hover {
  background-color: yellow; color: black;
}
.save:hover {
  background-color: green; color: white;
}
.update-section {
  display: flex; align-items: center;
}
@media (max-width: 1229px) and (min-width: 769px) {
  .order-section {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .order-section {
    width: 100%;
  }
  .order-info {
    margin-left: 20px;
  }
}
@media (max-width: 512px) {
  .each-order {
    flex-direction: column; border-radius: 30px; text-align: center; 
  }
  .order-image {
    height: 180px; width: 100%;
  }
  .order-info {
    padding: 10px; margin: 0 auto;
  }
  .order-name {
    font-size: 25px; margin: 0;
  }
  .quantity-updater {
    column-gap: 15px;
  }
  .orderQuantity {
    font-size: 15px; margin: 0;
  }
  .cancel, .delete, .update, .save, .input{
    font-size: 10px; padding: 6px 12px;
  }
  .save {
    margin-left: 15px;
  }
}