.orderpage-section {
  display: flex; flex-direction: column; padding: 0 50px;
}
.body {
  display: flex; justify-content: center; column-gap: 50px; align-items: start; padding-top: 100px;
}
@media (max-width: 1228px) {
  .body {
    flex-direction: column-reverse; align-items: center; row-gap: 70px;
  }
}